body {
    font-family: "Cardo", serif;
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapers.com/images/featured/rio-de-janeiro-d8f020n7kiyvc721.jpg);
    background-size: cover;
    background-color: #fdebd0;
    animation: fadeIn 1s ease-in-out;
}

header {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links h3 {
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #ddd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
